In [ ]:
import pandas as pd

# Import full expression matrix
expression_matrix = pd.read_excel("C:/research/raw_data/RNAseq_cohorts1-5 plus extra.xlsx")

In [24]:
meta_df = expression_matrix.iloc[1].dropna().to_frame()
meta_df.columns = ['sample_name']
meta_df.reset_index(drop=True, inplace=True)
meta_df

    sample_name
0        BT41_T
1        BT48_T
2        BT50_T
3        BT53_T
4        BT67_T
..          ...
203     HF11_NL
204   HF5205_NL
205   HF6562_NL
206   HF7450_NL
207     G938_NT

[208 rows x 1 columns]

In [ ]:
# Assign samples to disease categories
meta_df['disease'] = None

def set_disease(meta_df, start_sample, end_sample, disease_label):
    start_idx = meta_df[meta_df['sample_name'] == start_sample].index[0]
    end_idx = meta_df[meta_df['sample_name'] == end_sample].index[0]
    meta_df.loc[start_idx:end_idx, 'disease'] = disease_label

# Example usage:
set_disease(meta_df, 'BT41_T', 'G958_L', 'adult_gbm')
set_disease(meta_df, 'G607_T', 'G607_L', 'adult_lgg')
set_disease(meta_df, 'G477_T', 'G938_L', 'pediatric_gbm')
set_disease(meta_df, 'PFA1_T', 'PFA14_L_hypoxia', 'pediatric_pf_ependymoma')
set_disease(meta_df, 'ST1_T', 'ST5_L_hypoxia', 'pediatric_st_ependymoma')
set_disease(meta_df, 'AB1_NT', 'AB2_NT', 'adult_controls')
set_disease(meta_df, 'PB1_NT', 'PB2_NT', 'pediatric_controls')
set_disease(meta_df, 'HF5_NL', 'HF7450_NL', 'culture_controls')
set_disease(meta_df, 'G938_NT', 'G938_NT', 'matched_outer_cortex')

print(meta_df)

print(meta_df['disease'].value_counts()) # See how many of each type of disease there are, no none values, good!

    sample_name               disease
0        BT41_T             adult_gbm
1        BT48_T             adult_gbm
2        BT50_T             adult_gbm
3        BT53_T             adult_gbm
4        BT67_T             adult_gbm
..          ...                   ...
203     HF11_NL      culture_controls
204   HF5205_NL      culture_controls
205   HF6562_NL      culture_controls
206   HF7450_NL      culture_controls
207     G938_NT  matched_outer_cortex

[208 rows x 2 columns]
disease
adult_gbm                  157
pediatric_pf_ependymoma     22
pediatric_gbm                8
pediatric_st_ependymoma      8
culture_controls             6
adult_lgg                    2
adult_controls               2
pediatric_controls           2
matched_outer_cortex         1
Name: count, dtype: int64

In [30]:
# Assign samples to disease categories
meta_df['sample_type'] = None

def set_sample_type(meta_df, start_sample, end_sample, sample_type):
    start_idx = meta_df[meta_df['sample_name'] == start_sample].index[0]
    end_idx = meta_df[meta_df['sample_name'] == end_sample].index[0]
    meta_df.loc[start_idx:end_idx, 'sample_type'] = sample_type

# Example usage:
set_sample_type(meta_df, 'BT41_T', 'G958_T', 'tissue')
set_sample_type(meta_df, 'BT41_L', 'G958_L', 'culture')
set_sample_type(meta_df, 'G607_T', 'G607_T', 'tissue')
set_sample_type(meta_df, 'G607_L', 'G607_L', 'culture')
set_sample_type(meta_df, 'G477_T', 'G938_T', 'tissue')
set_sample_type(meta_df, 'G477_L', 'G938_L', 'culture')
set_sample_type(meta_df, 'PFA1_T', 'PFA14_T', 'tissue')
set_sample_type(meta_df, 'PFA1_L_hypoxia', 'PFA14_L_hypoxia', 'culture')
set_sample_type(meta_df, 'ST1_T', 'ST5_T', 'tissue')
set_sample_type(meta_df, 'ST1_L_hypoxia', 'ST5_L_hypoxia', 'culture')
set_sample_type(meta_df, 'AB1_NT', 'PB2_NT', 'tissue')
set_sample_type(meta_df, 'HF5_NL', 'HF7450_NL', 'fNSC')
set_sample_type(meta_df, 'G938_NT', 'G938_NT', 'tissue')

print(meta_df)

    sample_name               disease sample_type
0        BT41_T             adult_gbm      tissue
1        BT48_T             adult_gbm      tissue
2        BT50_T             adult_gbm      tissue
3        BT53_T             adult_gbm      tissue
4        BT67_T             adult_gbm      tissue
..          ...                   ...         ...
203     HF11_NL      culture_controls        fNSC
204   HF5205_NL      culture_controls        fNSC
205   HF6562_NL      culture_controls        fNSC
206   HF7450_NL      culture_controls        fNSC
207     G938_NT  matched_outer_cortex      tissue

[208 rows x 3 columns]

In [31]:
meta_df.to_csv("C:/research/GSC_RNAseq_and_metabolomics_analysis/bulk_meta_compiled.csv", index=False)